@model MyFirstWebApplication.ViewModels.HomeEmpDetailsViewModels


@{
    ViewBag.Title = "Employee Detail";
}

<h1>@ViewBag.PageTitle</h1>

<div>
    ID : @Model.Employee.id
</div>
<div>
    Name : @Model.Employee.Name
</div>
