@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Razor pages";
}

<div> <h1 style="color:crimson">Inside Razorpg.cshtml</h1></div>
<p><h1 style="color:darkslateblue">@DateTime.Now</h1></p>

@{ var k = new { a = "Hie", b = "Hello" }; }
<div>
    <h1>@k.b <br /> @k.a</h1>
</div>

<div> <h3>A sample-textBox using HTML Helper @Html.TextBox("Firstname", "Krithi", new { @readonly = "true" })</h3></div>

<div>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
</div>

<div>
    <button type="button" class="btn btn-primary">Primary</button>
</div>
